{% extends "base.html" %}

{% block title %} Популярные цитаты {% endblock %}

{% block content %}
<div class="container">
  <h2>Популярные цитаты</h2>
  <form method="get" class="mb-3">
    <div class="row">
      <div class="col-md-4">
        <label for="sort_by" class="form-label">Сортировать:</label>
        <select name="sort_by" id="sort_by" class="form-select" onchange="this.form.submit()">
          <option value="likes" {% if sort_by == 'likes' %}selected{% endif %}>По лайкам</option>
          <option value="dislikes" {% if sort_by == 'dislikes' %}selected{% endif %}>По дизлайкам</option>
          <option value="views" {% if sort_by == 'views' %}selected{% endif %}>По просмотрам</option>
        </select>
      </div>
    </div>
  </form>

  <ul class="list-group">
    {% for quote in quotes %}
      <li class="list-group-item">
        <p>{{ quote.quote }}</p>
        <p><small class="text-body-secondary">Источник: {{ quote.source.name }}</small></p>
        <p><small class="text-body-secondary">Лайки: {{ quote.likes }}, Дизлайки: {{ quote.dislikes }}</small></p>
        <p><small class="text-body-secondary">Просмотров: {{ quote.views }}</small></p>
      </li>
    {% empty %}
      <li class="list-group-item">Цитаты пока не добавлены.</li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}